<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
p {
	color: navy;
}

li {
	color: blue;
}
</style>
</head>
<body>

	<h1>You've completed the Seminar & Release Party TeaLinuxOS Registration</h1>

	<p>
		Selamat <p th:text="'Dear '+ ${Content.username}+','">Name</p> anda telah sukses medaftar pada acara Seminar & Release Party TeaLinuxOS.
		Gunakan QRCode Berikut untuk mendaftarkan diri saat registrasi ulang.
	</p>
	<div align="center">
		<img th:src="@{http://103.246.107.213:9999/api/participant(text=${name})}">
	</div>
	<div>
		<p>Happy Open Source,</p>
		<p style="font-weight: bold;">Doscom</p>
	</div>
</body>
</html>